@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fffbf3;
  font-family: "Playfair Display", serif;
  overflow-x: hidden;
  height: 300vh;
  max-width: 1600px;
  margin: 0 auto;
}

p,
li {
  font-size: 20px;
  font-weight: 500;
}

.navbar_gradient {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    137deg,
    rgba(255, 255, 255, 0.10072595932904416) 0%,
    rgba(255, 255, 255, 0.4) 100%
  );
  backdrop-filter: blur(20px);
}

.flower_image {
  background-image: url("/images/FlowerBackground.png");
}

.button_gradient {
  background: radial-gradient(
    ellipse,
    rgba(251, 137, 31, 1) 15%,
    rgba(251, 210, 31, 1) 100%
  );
  transition: background 2s ease;
}

.button_gradient:hover {
  background: radial-gradient(
    ellipse,
    rgba(251, 137, 31, 1) 25%,
    rgba(251, 137, 31, 1) 100%
  );
}

@keyframes spin-slow {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
}

.small-card-gradient {
  background: #fff38a;
  background: linear-gradient(137deg, #fff38a10 0%, #fff38a40 100%);
  backdrop-filter: blur(10px);
}

@media (min-width: 1600px) {
  .absolute-girl {
    right: calc(50vw - 550px);
  }

  .absolute-boy {
    right: calc(50vw - 720px);
  }

  .absolute-earth {
    right: calc(50vw - 720px);
  }
}
